<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body>
  <div th:replace="fragments/header :: header"></div>
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img class="d-block w-100" src="/images/banner.png" alt="Pay My Buddy">
	    </div>
	  </div>
	</div>
  <div th:replace="fragments/footer :: footer"></div>
</body>

</html>