<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/head :: head">
</head>
<body>
	<br /><br /><br />

	<div class="container">
   <div class="row">
        <div class="col-md-6 offset-md-3">
            <div th:if="${param.error}">
                <div class="alert alert-danger">Please, check the errors below.</div>
            </div>
	      <div th:if="${param.success}">
	          <div class="alert alert-info">
	            You have successfully registered our app!
	          </div>
	      </div>
            <div class="col d-flex justify-content-center">
            <div class="card w-75">
                <div class="card-body">
                    <form
                            method="post"
                            th:action="@{/register/save}"
                            role="form"
                            th:object="${user}"
                    >
                    <div class="col d-flex justify-content-center">
                    	<div class="card mb-3" id="login-form-header">
                    		 <button type="button" class="btn btn-block button-title" disabled>Pay My Buddy</button>
                    	</div>
                    </div>
		            <div class="form-group mb-3">
		              <input
		                      class="form-control"
		                      id="firstName"
		                      name="firstName"
		                      placeholder="Enter first name"
		                      th:field="*{firstName}"
		                      type="text"
		              />
		              <p th:errors = "*{firstName}" class="text-danger"
		              th:if="${#fields.hasErrors('firstName')}"></p>
		            </div> 
		            <div class="form-group mb-3">
		              <input
		                      class="form-control"
		                      id="lastName"
		                      name="lastName"
		                      placeholder="Enter last name"
		                      th:field="*{lastName}"
		                      type="text"
		              />
		              <p th:errors = "*{lastName}" class="text-danger"
		                 th:if="${#fields.hasErrors('lastName')}"></p>
		            </div>		                               
                        <div class="mb-3">
                            <div class="input-group">
						      <div class="input-group-prepend">
						        <span class="input-group-text">
						            <span class="fa fa-envelope"></span>
						        </span>
						      </div>                        
	                            <input type="text"
	                                   id="email"
	                                   name="email"
	                                   class="form-control"
	                                   placeholder="Email"
	                            />                                                       
                            </div>
			              <p th:errors = "*{email}" class="text-danger"
			                 th:if="${#fields.hasErrors('email')}"></p>	                             
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
						      <div class="input-group-prepend">
						        <span class="input-group-text">
						            <span class="fa fa-star-of-life"></span>
						        </span>
						      </div>                        
	                            <input type="password"
	                                   id="password"
	                                   name="password"
	                                   class="form-control"
	                                   placeholder="Password"
	                            />                                                       
                            </div>  
				              <p th:errors = "*{password}" class="text-danger"
				                 th:if="${#fields.hasErrors('password')}"></p>	                                                      
                        </div>
                    <div class="col d-flex justify-content-center">
                        <div class="mb-3" id="login-button">
                            <button type="submit" class="btn btn-primary btn-block" >Register</button>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="mb-3">
                            <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                        </div>
                    </div>                    
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
	</div>
</body>
</html>